@import 'theme.scss';

td.error {
  border-bottom: 5px dashed red;
}

td.color1 {
  background-color: lightblue;
}

td.color2 {
  background-color: lightcoral;
}

td.color3 {
  background-color: lightyellow;
}

td.color4 {
  background-color: lightgray;
}

td.color5 {
  background-color: lightgreen;
}

td.color6 {
  background-color: lightpink;
}

td.color7 {
  background-color: lightsalmon;
}

td.color8 {
  background-color: lightslategray;
}

td.color9 {
  background-color: lightseagreen;
}

td.color10 {
  background-color: lightsteelblue;
}
