@import 'theme.scss';

.processing {
  background-color: $info;
  color: color-contrast($info) !important;
  --bs-table-striped-color: none !important;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.1) !important;
}
.processing button {
  color: color-contrast($info) !important;
}
