// @import 'scss/main.scss';

.proposalnav {
  padding: 0px;
  font-size: 16px;
  font-family: Poppins;
}
.proposalnav .proposalname {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-right: 1rem;
}

.proposalnav .nav-link {
  color: $white !important;
  padding: 0px;
  display: flex;
  align-items: center;
}

.proposalnav .nav-link:hover {
  text-decoration: underline;
}

.proposalnav > .nav-link,
.navbar-nav .nav-link.active {
  text-decoration: underline;
}
