// @import 'scss/main.scss';

.proposalnav {
  padding: 0px;
}
.proposalnav .proposalname {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-right: 1rem;
}

.proposalnav .nav-link {
  color: $white !important;
}

.proposalnav .nav-link:hover {
  text-decoration: underline;
}

.proposalnav > .nav-link,
.navbar-nav .nav-link.active {
  text-decoration: underline;
}
