@import 'theme.scss';

.tabs-datacollectiongroup-panel {
  justify-content: right;
  margin-bottom: 0px !important;
}

.card-datacollectiongroup-panel .card-body {
  padding: 0px;
}

.card-datacollectiongroup-panel .card-header {
  padding-bottom: 0px;
}

.badge {
  margin-left: 10px;
}
