$white: #fff;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$blue: #1565c0;
$indigo: #283593;
$purple: #6a1b9a;
$pink: #c2185b;
$red: #d32f2f;
$orange: #ef6c00;
$yellow: #f9a825;
$green: #4caf50;
$teal: #20c997;
$cyan: #3498db;

// $primary: #5f9797;
$primary: #345a8c;
// $secondary: #546e7a;
$secondary: #7c8186;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: rgb(51, 51, 51);

$link-color: $primary;
$pagination-bg: lighten($secondary, 15%);
$pagination-hover-bg: $secondary;
$pagination-disabled-bg: lighten($secondary, 30%);

@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/flatly/bootswatch';

.react-bootstrap-table table {
  table-layout: auto !important;
}

.card-header {
  background-color: $primary !important;
  color: color-contrast($primary);
}

.card-header .nav-link {
  color: color-contrast($primary);
}
