@import 'theme.scss';

.tabs-card-shipment {
  justify-content: right;
  margin-bottom: 0px !important;
}
.card-shipment {
  margin: 10px;
}

.card-shipment .card-body {
  padding: 0px;
}

.card-shipment .card-header {
  padding-bottom: 0px;
}

.containerTypeSelect {
  padding: 0px !important;
}
